# Laravel environment & logs
.env
.env.*           # optional: env.production, env.backup, etc.
*.log

# IDE / Editor files
/.idea
/.vscode
/.fleet
/.zed

# OS files
.DS_Store
Thumbs.db

# Composer dependencies
/vendor
/auth.json       # optional, contains credentials

# Node.js dependencies & build files
/node_modules
/public/build
/public/hot

# Storage and cache
/storage/*.key
/storage/pail
/public/storage

# Laravel test / cache / PHPUnit
.phpunit.cache
.phpunit.result.cache
.phpactor.json

# Homestead & local config
Homestead.json
Homestead.yaml

# Nova
/.nova
